@page "/"
@inherits EmployeeListBase
@*<h3>Employee List - @SelectedEmployeesCount</h3>*@

<style>
    .card {
        max-width: 221px;
        min-width: 220px;
        border-color: rgba(57,108,164,0.2);
    }

    .card-footer {
        max-height: 50px;
    }

    .card-title {
        font-weight: 300;
        font-size: large;
    }

    .card-body {
        min-height: 50px;
        max-height: 65px;
        background-color: rgb(90, 128, 170);
        color: white;
    }

    .btn-link {
        color: white;
    }

        .btn-link:hover {
            color: snow;
        }

    .h1 {
        font-weight: 300;
    }

    #search {
        margin-right: -15px;
    }
</style>


@*<div class="row">
        <input type="checkbox" id="showFooter" @bind="ShowFooter" />
        <label for="showFooter">Show Footer</label>
    </div>*@

<div class="row">
    @if (Employees == null)
    {
<div class="spinner"></div> }
            else
            {
<div class="card-deck">
    @foreach (var employee in Employees)
    {
<DisplayEmployee Employee="employee" ShowFooter="ShowFooter"
                 OnEmployeeSelection="EmployeeSelectionChanged"
                 OnEmployeeDeleted="EmployeeDeleted"></DisplayEmployee>}
</div>}
</div>
